body{
    margin:0px;
    padding:0px;
    width:100%;
    height: 100vh;
    transition: transform 0.7s ease !important;
    transition-delay: 200s;
    background-color: rgb(126, 0, 59);
    color:white;

    /* animation: bg 6s ease forwards; */
}
/*@keyframes bg {
    from{
        background-color: black;
    }
    to{
        background-color: rgb(126, 0, 59);
    }
}*/
header{
    position: fixed;
    text-align:center;
    height:100px;
    width:100%;
    background-color: rgba(199, 126, 126, 0.89);
    z-index: 100;
}


nav{
    position: sticky;
}
nav ul{
    list-style-type: none;
    display:flex;
    margin:0px;
    padding:20px;
    justify-content: center;
    
    
}
nav ul li{
    
    padding: 20px 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    top: -300%;
    animation: slide-down 1s ease forwards;

} 
@keyframes slide-down {
    from{
        top: -300%;
    }
    to{
        top : 10%;
        
    }
    
}
nav ul li a.active {
    color: yellow; /* Change to any visible color */
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav li:hover{
    background-color:rgb(63, 0, 39);
    line-height: 30px;
    border-radius: 20%;
    box-shadow: 0px 0px 10px rgb(250, 157, 214);
    box-shadow: 0px 0px 40px rgb(250, 157, 214);
    box-shadow: 0px 0px 60px rgb(250, 157, 214);


}
#lastname{
    color: rgb(223, 0, 137);
    font-family:"lucida calligraphy";
    text-shadow: 0px 5px 15px rgb(209, 93, 114);
    
}
#name  {
    font-family:cursive;

    text-align: center;
    position: relative;
    left: -100%;
    animation: slide-in 5s ease forwards;
    
}
@keyframes slide-in {
    from {
        left:-100%;
    }
    to{
        left:-25%;
    }
}
#p{
    position: relative;

    left: -100%;
    animation: slide-in-full 3s ease-in forwards;
}
@keyframes slide-in-full {
    from {
        left:-100%;
    }
    to{
        left:0%;
    }
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 20%;
    
}

.split{
    display: flex;
    height:100%;
    
    align-items: center;
}
.left{
    
    
    flex:80%;
}
.right{
    
    flex:30%;
}


#hire ,#projects{
    background: linear-gradient(to right ,rgb(243, 117, 138) , rgb(206, 6, 129));
    border-radius: 50px;
    padding:3%;
    width:200px;
    color: white;
    border-color: black;
    border-width: 1px;
    left:-100%;
    animation:btn-effect 6s ease-out forwards;
    
}
@keyframes btn-effect{
    
    from{
        left:-100%;
        border-color: transparent;
        color: transparent;
        background: transparent;
        
    }
    to{    
        left:0%;
        border-color: black;
        color: white; 
        background: linear-gradient(to right ,rgb(243, 117, 138) , rgb(206, 6, 129));
        
    }
}
#hire:hover ,#projects:hover{
    background:rgb(63, 0, 39);
    box-shadow: 0px 0px 10px rgb(233, 171, 171);
    box-shadow: 0px 0px 30px rgb(235, 168, 168);
    box-shadow: 0px 0px 60px rgb(236, 173, 173);
    line-height: 30px;
    

}
#projects:hover .stars{
    background-color: yellow;
}
#me{
    height:200px;
    width: 200px;
    right:-100%;
    animation:slide-to-left 7s ease forwards;
}
@keyframes slide-to-left {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.bg-box{
    display: flex;
    padding-left:80%;
    padding-top: 120px;
    transition-delay: 6s;
    animation: toggle-ani 3s 0s;
    
}
@keyframes toggle-ani {
    from{
        display: none;
        transform: scale(0);
    }
    to{
        display: flex;
        transform: scale(1);
    }
    
}
.toggle-box{
    position: relative;
    width: 100px;
    height:50px;
    background-image:url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=");
    border-radius: 1000px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px  rgb(233, 171, 171);

}

#checkbox{
    display:none;
}
.circle{
    position: absolute;
    width: 37px;
    height:37px;
    background-color: rgb(126, 0, 59);
    box-shadow : 5px 15px 25px  rgb(255, 133, 133) inset;
    border-radius: 50%;
    margin:6px;
    left:0px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
   
}
.circle img{
    position: absolute;
    width:50px;
    height:30px;
    display: none;

}
.rem{
    margin: 10px;
    padding: 20px;
    width:50%;
}

footer{
    padding: 5%;
    text-align: center;
}
#back-to-top{
    margin-left: 90%;
    padding: 15px;
    font-size: 30px;
    position: fixed;
    bottom: 30px;
    z-index: 200;
    border-radius: 50%;
    border-width: 0px;
    height:50px;
    width:50px;
    background-color: rgb(255, 84, 112);
    box-shadow: 0px 10px 10px rgb(248, 134, 153) inset;
    box-shadow: 5px 0px 15px rgb(151, 46, 63) ;

    color:white;
    border-color: rgb(41, 0, 0);
}
#thanks{
    font-size: 40px;
}
.pop-up{
    display: none;
    position: fixed;
    background-color: pink;
    color:black;
    height:250px;
    width: 500px;
    border-radius: 25px;
    text-align: center;
    font-size: 40px;
    align-content: center;
    box-shadow: 2px 2px 8px rgb(240, 74, 151);
    border-width: 2px;
    border-color: rgb(126, 0, 59);
    
}
#close{
    background-color: rgb(255, 173, 187);
    margin-top:40px;
    padding: 15px;
    width:125px;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(126, 0, 59);
    box-shadow: 0px 0px 10px rgb(126, 0, 59);
}
